* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

body,
button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  color: inherit;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select {
  color: inherit;
}
